<div id="jobwrapper">
	<h2><%= @job.title %></h2>
	<div class="sjobuser">
	ordered by <a href="/users/<%= @user.id %>"><%= @user.name %></a>
	</div>
	<div class="sjobtravel">
	<%= @job.containers %> containers, <%= @job.origin %> to <%= @job.destination %>
	</div>
	<div class="sjobfeatures">
		total price: $<%= @job.cost %>
	</div>
	<div class="sjobdets">
		<div class="sjobinfo">
			<%= @job.info %>
		</div>
		<div class="sjobactions">
				<a href="/jobs/<%= @job.id %>/edit" style="margin: 0 35px 0 15px;">edit job</a>
				<%= link_to "delete this job", job_path, method: :delete %>
		</div>
	</div>
	<div class="sjobboat">
	assigned to <a href="/boats/<%= @boat.id %>"><%= @boat.name %></a>
	</div>
	<div class="sjobpic">
		<% if @boat.image.file? %>
			<%= image_tag @boat.image.url(:medium) %>
		<% else %>
			<%= image_tag 'boatlogo.png', alt: '' %>
		<%end %>
	</div>
</div>