<h1>Boats#edit</h1>
<p>Find me in app/views/boats/edit.html.erb</p>

<%= form_for @boat do |f| %>
<p>Name: <%= f.text_field :name %></p>
<p>Containers: <%= f.text_field :containers %></p>
<p>Location: <%= f.text_field :location %></p>
<%=f.file_field :image %>
<p><%= f.submit "Edit" %></p>
<% end %>
