<% if !flash[:notice].blank? %>
<div class="boatNotice">
  <%= flash[:notice] %>
</div>
<% end %>

<div class="boatIndex">
<h1>List of Boats</h1>
<p>Scroll through the options</p>

<%= link_to "New Boat", new_boat_path %>
<br>
<br>


<div class="boat-container">
<% @boats.each do |b| %>
<div class="boat-childeren">
<div class="boatName"><h1><a href="/boats/<%= b.id %>" target="_blank"><%= b.name %></a></h1></div>
 <div class="boat-images"><% if b.image.file? %>
<%= image_tag b.image.url(:medium) %>
<% else %>
<%= image_tag 'boatlogo.png', alt: '' %>
<% end %>
</div>
<hr>
<strong>Info:</strong>
<div><%= b.containers %> containers</div>
<div><%= b.location %></div>
<br>
</div>
<% end %>
</div>
</div>
