<% if !flash[:notice].blank? %>
<div class="boatNotice">
  <%= flash[:notice] %>
</div>
<% end %>

<div class="boatIndex">
<h1>List of Boats</h1>
<p>Scroll through the options</p>

<%= link_to "New Boat", new_boat_path %>
<br>
<br>
<% @boats.each do |b| %>
<div class="boatName"><a href="/boats/<%= b.id %>" target="_blank"><%= b.name %></a></div>
<% if b.image.file? %>
<%= image_tag b.image.url(:medium) %>
<% else %>
<%= image_tag 'boatlogo.png', alt: '' %>
<%end %>
<div><%= b.containers %> containers</div>
<div><%= b.location %></div>
<br>
<% end %>
</div>
