<div class="boatNew">
<h1>Create a New Boat</h1>
<p>Complete the following: </p>

<%= form_for @boat, hmtl: { multipart: true } do |f| %>
<p>Name: <%= f.text_field :name %></p>
<p>Containers: <%= f.text_field :containers %></p>
<p>Location: <%= f.text_field :location %></p>
<%=f.file_field :image %>
<p><%= f.submit %></p>
<% end %>
</div>
