<div class="boatNew">
<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>

<%= form_for @boat, hmtl: { multipart: true } do |f| %>
<p>Name: <%= f.text_field :name %></p>
<p>Containers: <%= f.text_field :containers %></p>
<p>Location: <%= f.text_field :location %></p>
<%=f.file_field :image %>
<p><%= f.submit %></p>
<% end %>
</div>
