<% if !flash[:notice].blank? %>
<div class="boatNotice">
  <%= flash[:notice] %>
</div>
<% end %>

<div class=boatShow>
<h1>Boats</h1>




<div id="boats-showpage" >
  <% if @boat.image.file? %>
  <%= image_tag @boat.image.url(:large) %>
  <% else %>
  <%= image_tag 'boatlogo.png', alt: '' %>
  <% end %>
  <h4>Boat Name:</h4>
  <p><%= @boat.name%></p>
  <h4>Containers:</h4>
     <p><%= @boat.containers%></p>
  <h4>Boat Location:</h4>
  <p><%= @boat.location%></p>
</div>

<%= link_to "Edit", edit_boat_path %>
<%= link_to "Delete", boat_path, method: :delete %>
</div>
