<!DOCTYPE html>
<html>
  <head>
    <title>ShippedProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav>
  <li><a href='/'>Home</a></li>

  <% if !logged_in? %>
        <li><a href='/users/new'>Sign Up</a></li>
         <li><a href='/signin'>Sign In</a></li>
        <% else %>
    <div class="userTag">Current User: <%= current_user.name %>
        <%= link_to "Edit User", edit_user_path(:id => current_user.id) %>
    </div>
        <li><%= link_to "Log out", logout_path %></li>
      <% end %>
</nav>


  <body>
    <%= yield %>
  </body>
</html>

<!-- <% if !flash[:notice].blank? %>
<div class="boatNotice">
  <%= flash[:notice] %>
</div>
<% end %> -->
