<!DOCTYPE html>
<html>
  <head>
    <title>ShippedProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="logoTitle"><h2>bulwark Listings</h2></div>
  <div class="topParts"><h2>  . . . . .You can rely on us</h2></div>
<nav>
  <li><a href='/'>Home</a></li>

  <% if !logged_in? %>
        <li><a href='/users/new'>Sign Up</a></li>
         <li><a href='/signin'>Sign In</a></li>
        <% else %>
        <li class="userTag">Current User: <%= current_user.name %></li>
        <li><%= link_to "Edit User", edit_user_path(:id => current_user.id) %></li>
        <li><%= link_to "Log out", logout_path, :method => "sessions#destroy" %></li>

      <% end %>
      <div class="dropdown">
        <li class="btn"><a href='/'>Other links</a></li>
            <div class="dropdown-content">
              <a href ="">Link 1</a>
              <a href ="">Link 2</a>
              <a href ="">Link 3</a>
            </div>
      </div>
</nav>


  <% if !flash[:notice].blank? %>
  <div class="boatNotice">
    <%= flash[:notice] %>
  </div>
  <% end %>
  
    <div id="mainall"><%= yield %></div>
    <footer>
      <p id="copywrite">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
    </footer>
  </body>

</html>
